<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='738b98600c979657738b98600c979657'/>
  <team v='234980'/>
  <user v='npp15pgmprve'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
